* {
  margin: 0;
  padding: 0;
}

html, body {
    overflow-y: auto;
}   

@media screen and (max-width: 420px) {


  .container{
    width: 100%;
  }

  .card{
    display: inline-flex;
    margin: 0%;
  }
}

@media screen and (min-width: 421px) and (max-width: 576px) {



  .card{
    display: inline-flex;
    width: 50%;
    margin: 0%;
  }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {

  .card{
    display: inline-flex;
    width: 33%;
    margin: 0%;
  }
}

@media screen and (min-width: 1025px) {
  
  .card{
    display: inline-flex;
    width: 25%;
    margin: 0%;
  }
}



.card {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}

.card__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card__text {
  font-size: 1rem;
}

/* Modifier */
.card--main {
  border: 2px solid #007bff;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}



aside {
  height: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

aside img{
  max-height: 10em;
  width: 100%;
}

.aside__text{
  font-size: 1rem;
}

.aside--mod {
   padding: 0;
   border: 2px solid #050301;
   border-radius: 5px;
   background: #515199;
background: linear-gradient(90deg, rgba(81, 81, 153, 0.66) 0%, rgba(176, 235, 201, 1) 50%, rgba(202, 227, 227, 1) 100%);
    
  }

  